VITE_FIREBASE_API_KEY=AIzaSyBAO4tEnMSf5C1SJt6qY4cApyrGX2VAlMA
VITE_FIREBASE_AUTH_DOMAIN=adalat-companion.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=adalat-companion
VITE_FIREBASE_STORAGE_BUCKET=adalat-companion.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=514790545004
VITE_FIREBASE_APP_ID=1:514790545004:web:3af778e9eb914c7ad4ea49
